<div class="container-fluid">
   <div id="links" class="row col-xs-6">
      <%= button_to('Back', students_attendance_path, :class => 'btn btn-primary pull-right btn-padded')  %>
   </div>
   <div class="row col-xs-8">
   <h2> Edit a note </h2>
      <%=render "note_form"%>
   </div>
</div>    