<div class="container-fluid nopadding">
    <div class="col-xs-12">
        <h1>Instructions</h1>
        <h4>How to Record Student Attendance</h4>
        <ul>
            <li> After logging in, the landing page presents two options: selecting a sitting that is taking place today or selecting a sitting that will take place a different day. Select the sitting you need and press "submit". If there is a problem with the sitting data, press the "Refresh Calendar Data" button. 
            </li>
            <li>
              You will then reach the Attendance page. From here there are several ways to add students to the sitting. The easiest way for most sittings will be to choose a group of students using the dropdown menu beside "Select group" located on the left-hand side near the top of the page. This will move all the students in that group into the Expected students list. You can also search for a students name in the "Search for students" search box or select the button above this text box that is called "View all students". This will give a list of all the students which you can add to the sitting. 
            </li>
            <li>
               The Expected students list can be populated before students arrive. As students arrive you can move them to the Attending students list using the checkboxes beside their name. Any students that do not arrive can be removed using the boxes with an "x". If students are added to the Attending students list by accident, they can be removed using the boxes with an "x". Students can also be readded to the Scheduled student list if they are deleted by accident using the "Search for students" search box. 
            </li>
            <li>
                When taking attendance is complete, select the "Next" button at the bottom of the page. If the another student arrives, simply press "Back" and adjust the list. 
            </li>
        </ul>    
        <h4>How to Schedule Daisan and Practice Interviews</h4>


            <li></li>
            <li></li>
            <li></li>
        </ul>    
    </div>
</div>