<div class="container-fluid">
   <div id="links" class="row col-xs-8">
      <%= button_to('Back', students_manage_students_path, :class => 'btn btn-primary pull-right btn-padded')  %>
   </div>
   <div class="row col-xs-8">
      <h2> Student information </h2>
      <%=render "student_form"%> 
   </div>
</div>