<%puts"testtesttest"%>
<%client = Client.find(@clients_group.client_id)%>
<tr>
   <td id="name">
      <% if client.last_name != nil %>
         <%=client.first_name + " " + client.last_name%>
      <%else %>
         <%=client.first_name%>
      <%end%>
   </td>
   <% if client.category_type_id!= nil%>
   <td>
      <%=client.category_type.name%>
   </td>
   <%end%>
   <td>
   <%=link_to "/groups/#{@clients_group.id}/delete_clients_groups", :method => :delete, remote: true, class:"btn btn-default btn-xs delete_clients_groups_test" do %>
   <i class="glyphicon glyphicon-remove"></i>
   <%end%>
   </td>
</tr>