<div class="container-fluid">
   <div id="links" class="row col-xs-8">
      <%= button_to('Back', clients_manage_clients_path, :class => 'btn btn-primary pull-right btn-padded')  %>
   </div>
   <div class="row col-xs-8">
      <h2> Client information </h2>
      <%=render "client_form"%>
   </div>
</div>