// apply styles to HTML elements
// to make views framework-neutral
#main-splash {
  @extend .container;
  background-color: #eee;
  padding-bottom: 80px;
  width: 100%;
  height: 1000px;
  margin-top: 0px; // accommodate the navbar
  }
section {
  @extend .row;
  margin-top: 20px;
  }

 #splash-body {
  position:relative;
  top:75px;
  width:25%
 } 